services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${APP_CONFIG__POSTGRES_USER}
      POSTGRES_PASSWORD: ${APP_CONFIG__POSTGRES_PASSWORD}
      POSTGRES_DB: ${APP_CONFIG__POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    ports: 
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  pgdata: